@charset "UTF-8";
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
}

.flex-text {
  display: flex;
  align-items: center;
  padding: none;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.7;
  text-align: center;
}

h2 {
  font-size: 28px;
  letter-spacing: 0;
  line-height: 2;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  letter-spacing: 0;
  line-height: 2;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.7;
  color: #3BA6C9;
  text-align: center;
  font-weight: bold;
}

p {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.7;
}

.btn {
  font-size: 14px;
  padding: 10px 50px;
  background: linear-gradient(90deg, #FA41CC 0%, #6020B0 100%);
  border: none;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: white;
}

.btn a {
  color: white;
  text-decoration: none;
}

.fadein {
  opacity: 0.1;
  transform: translate(0, 50px);
  transition: all 500ms;
}

/* 画面内に入った状態 */
.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

.navbar {
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 94px;
}

.navbar .navbar-brand {
  display: flex;
  align-self: center;
  color: #333;
}

.navbar .navbar-brand img {
  margin-right: 16px;
}

.navbar .nav-link {
  font-size: 16px;
  margin-right: 46px;
  color: #333;
  font-weight: bold;
}

.navbar #navbarNav-sp {
  top: 94px;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #3BA6C9;
  border-bottom: 1px solid #3BA6C9;
}

.navbar #navbarNav-sp .nav-link {
  margin: 10px 0;
  font-size: 20px;
}

.main {
  padding-top: 220px;
  background: transparent url("../img/circle.png") no-repeat;
  background-position: 130% bottom;
  background-size: 60%;
}

.main h1 {
  text-align: left;
  margin-bottom: 40px;
}

.main p {
  font-weight: bold;
  margin-bottom: 40px;
}

.feature {
  margin-top: 80px;
}

.feature .feature-title {
  margin-bottom: 65px;
}

.feature .feature-1 {
  margin-bottom: 93px;
}

.feature .feature-2 {
  margin-bottom: 143px;
}

.feature .feature-2 .row {
  flex-direction: row-reverse;
}

.feature .feature-3 {
  margin-bottom: 156px;
}

.price {
  background-color: #EEFBFB;
  padding-top: 64px;
  padding-bottom: 71px;
}

.price .price-title {
  margin-bottom: 73px;
}

.price .p {
  text-align: center;
  margin-bottom: none;
}

.price .table {
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 41px;
}

.price .table th {
  font-size: 16px;
  padding: 40px 20px;
  width: 30%;
}

.price .table td {
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  padding-left: 30px;
}

.FAQ {
  padding-top: 64px;
  padding-bottom: 86px;
}

.FAQ .FAQ-title {
  margin-bottom: 35px;
}

.FAQ .accordion {
  margin: 0 auto;
  background: white;
}

.FAQ .accordion .card-body {
  background: #EEFBFB;
}

.blog {
  background-color: #EEFBFB;
  padding-top: 64px;
  padding-bottom: 91px;
}

.blog .container {
  width: auto;
}

.blog .container .card {
  margin: 0 7.5px;
}

.blog .container .card .card-title {
  font-size: 18px;
  font-weight: bold;
}

.blog .container .card .card-footer {
  border: none;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  background: white;
}

.works {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding-top: 64px;
  padding-bottom: 91px;
}

.works .works-title {
  margin-bottom: 71px;
}

.works .card {
  height: 407px;
  text-align: left;
  font-weight: bold;
}

.works .card img {
  height: 210px;
}

.contact {
  padding-top: 72px;
  padding-bottom: 70px;
  background: linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%);
}

.contact .contact-title {
  margin-bottom: 44px;
}

.contact .contact-title > p {
  text-align: center;
}

.contact .contact-title h4 {
  margin-bottom: 44px;
}

.contact h1, .contact h4, .contact p {
  color: white;
}

.contact form {
  padding: 40px 60px;
  margin: 0 auto;
  background: white;
  box-shadow: 0px 3px 6px #00000029;
}

.contact form .email, .contact form .name {
  background: #EEFBFB;
  margin-bottom: 25px;
}

.contact form textarea {
  height: 180px;
  background: #EEFBFB;
}

.contact form .form-label {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.7;
  font-weight: bold;
  margin-bottom: 35px;
}

.contact form .form-check {
  width: 270px;
  margin: 30px auto;
}

.contact form .form-check .form-check-label {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.7;
  font-weight: bold;
}

.contact form .badge {
  font-size: 14px;
  padding: 8px 16px;
  background: #0C449B;
  border-radius: 10px;
}

.contact form .btn {
  margin: 0 auto;
  display: block;
}

footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer h3 {
  margin-bottom: 30px;
}

footer a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin: 0 10px;
}

footer small {
  display: block;
  margin-top: 60px;
}
/*# sourceMappingURL=style.css.map */